<!DOCTYPE html>
<html ng-app="Kukuruku">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <style>
        .activeCss{
            color:red;
        }
    </style>
  </head>
  <body ng-controller="homeController">
    <div id="view" ng-view>
        
    </div>
  </body>
</html>
